@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Acumin";
  src: url("./assets/fonts/Acumin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@layer base {
  body {
    @apply font-custom;
  }
}
.bg-custom {
  background-image: url("/gradient1.png");
  background-size: cover;
  background-position: center;
}
.bg-custom2 {
  background-image: url("/gradient2.png");
  background-size: cover;
  background-position: center;
}
